# Start Generation Here
# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
.ENV
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
.pypirc

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.cache

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Python virtual environments
.venv/
# End Generation Here

Forme.md
